<main class="recipes-container">
  <h1>New Ingredient</h1>
  <p>Enter Following Fields to Add New Ingredient</p>
  <%= render 'recipe_food_form', recipe_food: @recipe_food %>
  <%= link_to 'Cancel', recipes_path, class:'cancel-button' %>
</main>